extends ./header.jade

block content
		.row
			.col-md-1
			.col-md-10
				h1= title
				form(method="POST")
					.form-group
						input.form-control(type="text", placeholder="Name" name="name")
						input.form-control(type="email", placeholder="Email" name="email")
						textarea.form-control(placeholder="Send us a message" name="message")
					button.btn.btn-primary(type="submit") Submit


		script(src="/vendor/jquery/dist/jquery.min.js")
		script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
		script(src="/javascripts/main.js")