doctype html
html
	head
		title= title
		link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='/vendor/animate.css', rel='stylesheet')
		link(href='/stylesheets/main.css', rel='stylesheet')
	body
		block content