extends ./header.jade

block content
		.row
			.col-md-1
			.col-md-10
				#mainLanding
					h1 CALJS
					p.thin#subHead A better way to calendar
					i.fa.fa-calendar.animated.fadeInDown
					p.thin.animated.fadeInUp.center Find dates from now until the year 9999!<br> You know you need this.
					button.btn.btn-default.animated.zoomIn#clickPop(data-target="#myModal" data-toggle="modal") Demo

				#mainPopup
					h1 buy me now


		script(src="/vendor/jquery/dist/jquery.min.js")
		script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
		script(src="/javascripts/main.js")

